/* Establish the font and remove the page margins. X-overflow is disabled to hide the slide-in tray. */
body {
	font-family: "Karla", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	background-color: #fafafa;
	overflow-x: hidden;
	color: #121;
	font-size: 10pt;
}

/* The header and its elements are stickily positioned and have simple presentation. */
.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding: 1em;
	padding-left: 6em;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
}
	.header > h1 {
		margin-top: -0.25em;
	}
	.header > img {
		width: 4em;
	    position: absolute;
	    left: 1em;
	    top: 0.1em;
	}
	/* The header features a simple right-aligned toobar. This spaces out its buttons. */
	.header > div.toolbar {
		right: 1em;
	    top: 1.1em;
	}
	.header div.toolbar a {
		margin-left: 2em;
	}

/* Lightbox is a green non-interactive element that appears under the slide-in tray. It fades in and out. */
#lightbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 55, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

/* The show class is applied to the lightbox when it is needed which triggers its transition. */
#lightbox.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
}

/* Horizontal rules are grey and faint. */
hr {
	border: 1px solid #777;
}

/* Hyperlinks are blue. */
a {
	color: #36c;
	text-decoration: none;
}
	/* Affordance effects for buttons and links: underline off, pink highlight. */
	a:hover {
		text-decoration: underline;
		color: #25a;
	}

	/* Nice blue buttons. */
	a.button {
		background-color: #36c;
		border: 1px solid #36c;
		color: #fff;
		padding: 0.1em 0.5em;
		border-radius: 3px;
		text-decoration: none;
	}
		/* Affordance effects for buttons: dark background, white foreground. */
		a.button:hover {
			border: 1px solid #236; !important;
			background-color: #236; !important;
			color: #fff !important;
		}

/* Any element can be hidden with this class. */
.hidden {
	display: none;
}

/* Any element can get slightly smaller text with this class. */
.small {
	font-size: 90%;
}

/* Convenience class for spacing elements a little. */
.gapAfter {
	margin-right: 1em;
}

/* Toolbars generally hold buttons and go top-right of their containers. */
div.toolbar {
	position: absolute;
	right: 0em;
	top: 1em;	
	color: #595959;
}