/* Establish the font and remove the page margins. X-overflow is disabled to hide the slide-in tray. */
body {
	font-family: "Karla", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	background-color: #fafafa;
	overflow: hidden;
	color: #121;
	font-size: 10pt;
}

/* Disable text selection on everything since we'll be doing lots of dragging and dropping. */
* {
	-webkit-user-select: none;
	user-select: none;
}

/* The header and its elements are stickily positioned and have simple presentation. */
.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding: 1em;
	padding-left: 6em;
}
	.header > h1 {
		margin-top: -0.25em;
	}
	.header > img {
		width: 3em;
	    position: absolute;
	    left: 1em;
	    top: 0.1em;
	}
	/* The header features a simple right-aligned toobar. This spaces out its buttons. */
	.header > div.toolbar {
		right: 1em;
	    top: 1.1em;
	}
	.header div.toolbar a {
		margin-left: 2em;
	}

/* Lightbox is a green non-interactive element that appears under the slide-in tray. It fades in and out. */
#lightbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 55, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
	backdrop-filter: blur(8px);
}

/* The show class is applied to the lightbox when it is needed which triggers its transition. */
#lightbox.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
}

/* Horizontal rules are grey and faint. */
hr {
	border: 1px solid #777;
}

/* Hyperlinks are blue. */
a {
	color: #36c;
	text-decoration: none;
}
	/* Affordance effects for buttons and links: underline off, pink highlight. */
	a:hover {
		text-decoration: underline;
		color: #25a;
	}

	/* Nice blue buttons. */
	a.button {
		background-color: #36c;
		border: 1px solid #36c;
		color: #fff;
		padding: 0.1em 0.5em;
		border-radius: 3px;
		text-decoration: none;
	}
		/* Affordance effects for buttons: dark background, white foreground. */
		a.button:hover {
			border: 1px solid #236 !important;
			background-color: #236 !important;
			color: #fff !important;
		}

/* Any element can be hidden with this class. */
.hidden {
	display: none;
}

/* Any element can get slightly smaller text with this class. */
.small {
	font-size: 90%;
}

/* Convenience class for spacing elements a little. */
.gapAfter {
	margin-right: 1em;
}

/* Toolbars generally hold buttons and go top-right of their containers. */
div.toolbar {
	position: absolute;
	right: 0em;
	top: 1em;	
	color: #595959;
}

/* Keyframes which manage the tray sliding in and out by setting its left position. */
@keyframes slideIn {
  0% { left: 100% }
  100% { left: 60% }
}
@keyframes slideOut {
  0% { left: 60% }
  100% { left: 100% }
}

/* Styling and layout for the slide-in tray itself. */
div#tray {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 40%;
	height: 100%;
	background-color: #fff;
	border-left: #777 1px solid;
	z-index: 2;
	padding: 1rem;
	min-height: 100%;
}
	/* These two classes are applied to the tray to trigger its animations in and out. */
	div#tray.open {
		box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
		animation: slideIn 0.5s forwards;
	}
	div#tray.closed {
		animation: slideOut 0.5s forwards;
	}

	/* Other tray styles ... */
	div#tray img {
		width: 8rem;
		height: 8rem;
	}
	div#tray hr {
		margin: 1rem 0;
		border-color: #ddd;
	}
	div#tray * {
		line-height: 1.4em;
		margin: 0 0 0.1rem 0;
	}