#viewport {
	background-color: #888;
	position: absolute;
	inset: 0;
	border-top: 1px solid #777;
	display: flex;
	justify-content: center;
	align-items: center;}

/* Cutesy shadows for the pasted images. */
#viewport img {
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

/* Applying the scaled class to the viewport halves the size of all the images. */
#viewport.scaled img {
	scale: 50%;
}

/* The call to action which is visible when there is no image. */
#cta {
	color: #444;
	font-size: clamp( 1rem, 10cqh, 4rem);
}

/* Glass sits on top of the UI and listens for mouse events. */
#glass {
	position: absolute;
	inset: 0;
}
	#glass.draw {
		cursor: crosshair;
	}
	#glass.move {
		cursor: all-scroll;
	}
	#glass.edit {
		cursor: cell;
	}
#canvas {
	position: absolute;
	inset: 0;
}

/* The list shows all the objects in the viewport down the side of the UI */
#list {
	border: 1px solid #777;
	border-radius: 0.5rem;
	padding: 0.5rem;
	position: absolute;
	inset: calc(44px + 0.5rem) auto 0.5rem 0.5rem;
	background-color: rgba(0,0,0,0.1);
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
	#list a {
		color: #fff;
	}